/* OCSReports Style Sheet */
table.qr
{
	border-collapse: collapse;
	border: solid 1px black;
	table-layout: fixed;
}

table.qr td
{
	width: 5px;
	height: 5px;
	font-size: 2px;
}

table.qr td.on
{
	background: #000000;
}
.conteneur {
/*background-color: #C7D9F5;*/
position: absolute;
left: 30px;
/*vertical-align:center; */
}

body {
	background-color:#FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
}

.fondu {
	background-image: url(../image/fond.png);
	width:100%;
	background-position : top center ;
	background-repeat: no-repeat;
		background-attachment: fixed;
}


a, img, .lienBleu, .norm, td, b,.warn {  
	text-decoration: none;
	border-width: 0px;
	font-family: Verdana;
	font-size: 8pt;
}

.warn {
	font-size: 10pt;
	color: red;
	font-weight:bold;
}

a,a:visited, .lienBleu {
	cursor: pointer;
	color: #3151CD;	
}

a:hover {
	color: red;
}

a.deco {
	color:#C7D9F5;
	font-size: 8pt;
}

input 
{
	cursor: pointer;
}

.lienBleu  {
	color: blue;
}

option.hi {
	background-color:#FFFFFF;
}

.dropdown {
	border: thin solid;
}

.Items {
	border-width: 2px;
	border-bottom-color:#666666;
	border-left-color:#D6D6D6;
	border-right-color:#666666;
	border-top-color:#D6D6D6;
}

.textbox 
{
	border: thin solid;
}

table.Erreur 
{
	border-color: #A1B1F9;
	border-spacing: 0px;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
}

th.Erreur 
{
	background-color: #C7D9F5;
	border-bottom-color: #A1B1F9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-collapse: collapse;
}

td.Machine
{
	 vertical-align:top ;
	 font-size:8pt;
}

td#color
{
	background-color:#C7D9F5 ;
}

td#type
{
font-family:Tahoma;
font-size:8pt;
text-align:center;
font-weight:bold;
}
	
table.Fenetre, table.Main
{
	background-color: white;
	border-color: #A1B1F9;
	border-spacing: 0px;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
}

table.Fenetre 
{	
	width:62%;
}

table.Main 
{	
	width:95%;
}


table.headfoot 
{
	background-color: #f2f2f2;
	border-color: #000000;
	border-spacing: 0px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	width:100%;
}


select.ge {
	background-color: #C7D9F5;
	height: 246px;
	width: 350px;
}

.boutonP {
	background-color: #C7D9F5;
	border-color: #A1B1F9;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 8pt;
}

.boutonG {
	background-color: #C7D9F5;
	border-color: #A1B1F9;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.Lien {
	border-left-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
}

.Main {
	cursor: pointer;
}

#fenetre 
{
	position: absolute;
	top: 20%;
	left: 30%;
}

#search {
	border-collapse: collapse;
	width: 240px;
}

dl, dt, dd, ul, li {
margin: 0;
padding: 0;
list-style-type: none;
}

#menu dt {
cursor: pointer;
margin: 2px 0;
text-align: center;
font-weight: bold;
}

#menu dd {
position: absolute;
z-index: 100;
margin-top: 5px ;
width: 17em;
background: #D6DCF2;
border: 1px solid gray;
border-radius: 1em;
-webkit-border-radius: 1em;
}

#menu ul {
padding: 2px;
}
#menu li {
text-align: center;
font-size: 85%;
line-height: 18px;
}
#menu li a, #menu dt a {
color: #000;
text-decoration: none;
display: block;
}

#menu li a:hover {
text-decoration: underline;
}
div.tableContainer {
	overflow: auto;
	margin: 0 auto;
	text-align: center;
	}

table.ta {
	width: 99%;		/*100% of container produces horiz. scroll in Mozilla*/
	/*border: 1px slategray;*/

border-bottom: solid 1px #9894B5;
	border-top: solid 1px #9894B5;
	border-left: solid 1px #9894B5;
border-right:solid 1px #9894B5;

	}
	
tbody.ta	{  /* child selector syntax which IE6 and older do not support*/
	overflow: auto; 
	overflow-x: hidden;
	}
	
th.ta	{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	background-color: #E0E2E2;
	color: steelblue;
	/*border: solid slategray thin;*/
/*border-left: solid 1px slategray;*/
	border-bottom: solid 1px #9894B5;
	border-top: solid 1px #9894B5;
	border-left: solid 1px #9894B5;
	position:relative; 
	/*top: expression(document.getElementById('data').scrollTop-2); /*IE5+ only*/
	}

tr.ta {
	text-align: center;
	border-right:solid 1px #9894B5;
}
	
td.ta	{
	color: #000;
	text-align: center;
	/*padding-right: 2px;*/
	font-size: 12px;
	font-family: Arial,sans-serif;
	border-bottom: solid 1px #9894B5;
	border-left: solid 1px #9894B5;
	
	}

td.ta:last-child {border-right: solid 1px #9894B5;} /*prevent Mozilla scrollbar from hiding cell content*/
th.ta:last-child {border-right: solid 1px #9894B5;}

.mlt_bordure {
	width:75%;
    margin:0 auto 0 auto;
	background-color: #f2f2f2;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 2px solid #C7D9F5;
	padding: 10px;
}

.mvt_bordure {
	width:75%;
    margin:0 auto 0 auto;
	background-color: #D6DCF2;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 2px solid #D6DCF2;
	padding: 10px;
}

.mvt_tab {
    margin:0 auto 0 auto;
	background-color: #D6DCF2;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 2px solid #D6DCF2;
	padding: 10px;
}

.image{
	background-color:#D6DCF2;
}


/* see => http:\\dmouronval.developpez.com\tutoriels\css\messages-personnalises\ */
/* tx to Knob-Buttons-Toolbar-icons => http:\\itweek.deviantart.com\art\Knob-Buttons-Toolbar-icons-73463960 */


.info, .success, .warning, .error, .validation {
	width:50%;
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../image/info.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../image/success.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../image/warning.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../image/error.png');
}

.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../image/validation.png');
}

.tooltip{
    position: absolute;   
    visibility : hidden;
    border: 1px solid Black;
    padding: 10px;
    font-family: Verdana, Arial;
    font-size: 10px;
    background-color: #FFFFCC;
}

