/* Thanks for Douglas Bowman for this code
http://www.alistapart.com/articles/slidingdoors/
*/

#header {
	width: 100%;
	font-size: 93%;
	line-height: normal;
}

#header ul {
	padding: 6px 5px 12px;
	list-style: none;
}

#header li {
	float: left;
	background-color: #c7c7c7;
	border-top: 1px solid #c7c7c7;
	margin: 0;
	margin-bottom: -1px;
	padding: 0 0 0 9px;
}

#header li:first-child {
	border-left: 1px solid #c7c7c7;
}

#header a {
	float:left;
	display:block;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	font-weight:bold;
	color: black;
	background-color: #c7c7c7;
	border-right: 1px solid #c7c7c7;
}

#header #current {
	background-color: #C7C2C2;
}

#header #current a {
	background-color: #C7C2C2;
}
