body{
overflow:auto;
}
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;	
	white-space: nowrap;	
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #EBF3F3;
}
.dtree .clip {
}